div.ui.pointing.menu
    a.item(href='http://localhost:3000/') Home
    a.item(href='http://localhost:3000/products') Show Products
    a.item(href='http://localhost:3000/new') New Product
    div.right.menu
        div.item
            div.ui.transparent.icon.input
                input(type="text" placeholder="Search...")
                i.search.link.icon